/* ESTILO DA PÁGINA CRIAR POSTAGEM EMPRESA criarPostagem-e.html*/

@font-face {
    font-family: 'League Spartan';
    src: url('/font/LeagueSpartan.ttf');
}

.bg-gradPrincipal {
    background: linear-gradient(270deg, #3ED1FF -3.33%, #FF3E83 68.74%, #FFA856 103.43%);
}


/* TELA INICIO EMPRESA */

.html, body {
    padding: 0;
    margin: 0;
    font-family: 'League Spartan';
}

/* MENU EMPRESA */

.alinhaElementos {
    display: grid !important;
    align-items: center;
    grid-template-columns: 10vw 71vw 5vw;
}

.alinhaLogo {
    display: grid;
    align-items: center;
    height: 0;
    width: 0;
    margin-bottom: 4vw;
    grid-template-columns: 4vw 5vw 3vw;
}

.opcoesMenu {
    display: grid;
    text-align: center;
    grid-template-columns: 13% 10% 15% 13%;
    padding: 2%;
}

.opcoesMenu li{
    list-style: none;
}

.opcaoMenu:hover{
    color: white;
    text-shadow: 0px 2px 18px white, 0px 2px 18px white;
}

.botaoSeta {
    background: none;
    border: none;
    color: white;
}

.botaoSeta:hover {
    color: white;

}

.setaMenu:hover {
    filter:drop-shadow(0 2px 2px rgb(255, 255, 255));
}

.menuEmpresa {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.opcaoSele {
    font-family: 'League Spartan';
    color: white;
    text-decoration: none;
    font-style: none;
    font-size: 100%;
    text-shadow: 0px 1px 16px white;
}

.opcaoMenu {
    font-family: 'League Spartan';
    color: white;
    text-decoration: none;
    font-style: none;
    font-size: 1.5vw;
}

#logoImagem {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-image: url('../../img/icones/logoBranca.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 5vw;
}

#inserirPerfil {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

#menu{
    z-index: 1;
    border-radius: 4%;
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.3));
    position: absolute;
    width: 11vw;
    top: 5.9vw;
    right: 10vw;
    height: 17vw;
    color:#5356ad;
    grid-template-rows: 2.5vw 2.5vw 2.5vw 2.5vw 2.5vw;
    display: none;
    padding-top: 0.3vw;
    padding-left: 2vw;
    font-size: 1.2vw;
    text-align: left;
    font-family: 'League Spartan';
    background-color: rgb(255, 255, 255);
}

#menu a{
    text-decoration: none;
    height: 0;
    width: 10vw;
}

#menu h4:hover{
    color: #FF3E83;
}

/* MENU PERFIL SUSPENSO */

#menuPerfil{
    z-index: 1;
    border-radius: 4%;
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.3));
    position: absolute;
    width: 11vw;
    top: 5.9vw;
    right: 0.5vw;
    height: 14.3vw;
    color:#5356ad;
    grid-template-rows: 3.5vw 2.5vw 3.5vw 2.5vw;
    display: none;
    padding-top: 0.3vw;
    padding-left: 2vw;
    font-size: 1.2vw;
    text-align: left;
    font-family: 'League Spartan';
    background-color: rgb(255, 255, 255);
}

#menuPerfil a{
    text-decoration: none;
    height: 0;
    width: 10vw;
}

#menuPerfil h4:hover{
    color: #FF3E83;
}

/* SELECAO PEDIDO */

.cardSelecaoPedido{
    grid-column: 3/4;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80vw;
    height: 70vw;
    background-color: white;
    border-radius: 3%;
    border: 1px solid  rgb(141, 141, 141);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    justify-items: center;
    overflow: auto;
    scrollbar-gutter: end;

}

/* Estiliza a barra de rolagem para navegadores que usam o motor WebKit, como o Google Chrome e o Safari */
.cards::-webkit-scrollbar {
    width: 12px;
    
    /* margin-left: 10px; */
  }
  
  /* Estiliza o "trilho" da barra de rolagem */
  .cards::-webkit-scrollbar-track {
    background: #f1f1f1;

  }
  
  /* Estiliza o botão de rolagem quando não está sendo arrastado */
  .cards::-webkit-scrollbar-thumb {
    background: #888;
    

  }
  
  /* Estiliza o botão de rolagem quando está sendo arrastado */
  .cards::-webkit-scrollbar-thumb:hover {
    background: #FF3E83;
    

  }

  .cards::-webkit-scrollbar-thumb:horizontal {
    min-width: 30px; /* Largura mínima da barra de rolagem */
    border-radius: 5px;
     /* Distância à direita da barra de rolagem */
  }

  .cards::-webkit-scrollbar-thumb:vertical {
    height: 30px; /* Altura mínima da barra de rolagem */
    border-radius: 5px;
    margin-bottom: -5px; /* Distância abaixo da barra de rolagem */
  }
  
.cardSelecaoPedido h1{
    grid-area: 1/1/3/1;
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin-top: 3%;
}

.inputPesquisa{
    display: flex;
    /* margin: 5%; */
}

.inputPesquisa input{
    display: flex;
    justify-content: space-between;
    height: 2vw;
    width: 40vw;
    margin: 2% 2% 5% 2%;
    /* padding-right: 2%; */
    border-radius: 15px;
    border: 2px solid  rgb(141, 141, 141);
}

.botaoPesquisaPedido{
    /* display: grid; */
    /* align-items: center; */
    margin: 2% 2% 5% 2%;

}

.botaoPesquisaPedido button{
    text-decoration: none;
    background-color: none;
    width: 8vw;
    height: 2.3vw;
    background-color: #FF3E83;
    border-style: none;
    border-radius: 50px;
    font-size: 1.2em;
    font-family: 'League Spartan';
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.cards{
    grid-area: 6/1/6/1;
    overflow: auto;
}

.infoCard{
    margin: 3%;
}

.precoPedido{
    color: #FF3E83;
    display: grid;
    align-items: center;
    /* justify-content: end; */
    margin-left: 25%;
    
}

.card {
    border: 1px solid black;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 10px;
    width: 50vw;
    /* height: auto; */
    /* display: flex; */
}

.card input{
    accent-color: #FF3E83;
}

.cardConteudo{
    display: flex;
}

  
.cardSelecao {
    float: right;
    margin-right: 10px;
}

/* CARD CRIAR POSTAGEM */

.grid-Principal{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.cardCriarPostagem{
    grid-column: 3/4;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80vw;
    height: 50vw;
    background-color: white;
    border-radius: 3%;
    border: 1px solid  rgb(141, 141, 141);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(12, 1fr);
    justify-items: center;
}

.cardCriarPostagem h1{
    grid-area: 2/1/3/1;
    display: flex;
    justify-content: center;
}

/* UPLOAD IMAGENS */

.uploadImgPedido{
    grid-area: 3/1/3/1;
    text-align: center;
    width: 18vw;
    height: 10vw;
    background-color: rgb(204, 204, 204);
    background-image: url('../../img/icones/icon-upload.svg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    border-radius: 5%;
    clip-path: inset(0% 0 0% 0);
}

.uploadImgPedido img{
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;   
}

#preview-capa {
    opacity: 0;
}

.uploadImg{
    display: block;
    width: 12vw;
    height: 8vw; 
    background-color: rgb(204, 204, 204);
    background-image: url('../../img/icones/icon-upload.svg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    border-radius: 5%;
    clip-path: inset(0% 0 0% 0);
}

.uploadImg2{
    display: block;
    width: 12vw;
    height: 8vw; 
    background-color: rgb(204, 204, 204);
    background-image: url('../../img/icones/icon-upload.svg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    border-radius: 5%;
    clip-path: inset(0% 0 0% 0);
}

.uploadImgPrincipal{
    grid-area: 5/1/5/1;
    display: flex;
    column-gap: 15px;
}

/* LINHA DE DIVISÃO DAS COLUNAS */
.linhaDivisao {
    width: 100%;
    grid-area: 2/1/12/2;
    display: grid;
    justify-items: center;
    box-sizing: border-box; 
    border-right: 1px solid  rgb(141, 141, 141);
}

/* PERFIL DA EMPRESA */
.fotoPerfil{
    grid-row: 2/3;
    margin: 5%;
    display: flex;
}

.fotoPerfil img{
    width: 15%;
    clip-path: circle();
}

.fotoPerfil h2{
    font-size: 1.5em;
    margin-left: 10%;
    width: 100%;
}

.fotoPerfil h1{
    font-size: 1em;
    margin-left: 10%;
    width: 100%;
}

/* INFORMAÇÕES PARA A POSTAGEM */
.linhasInput{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    row-gap: 40%;
    grid-area: 3/2/5/2;
    width: 80%;
    height: 50%;
    margin-top: 5%;
}

.linhasInput input{
    height: 0.5vw;
    padding: 3%;
    border-radius: 15px;
    border: 2px solid  rgb(141, 141, 141);
}

#legendaInput{
    height: 5vw;
    padding: 3%;
    border-radius: 15px;
    border: 2px solid  rgb(141, 141, 141);
}

/* BOTAO CRIAR POSTAGEM */
.botaoPostagem{
    grid-area: 7/2/7/2;
}

.botaoPostagem button{
    text-decoration: none;
    background-color: none;
    width: 12em;
    height: 3em;
    background-color: #FF3E83;
    border-style: none;
    border-radius: 50px;
    font-size: 1.2em;
    font-family: 'League Spartan Regular';
    color: white;
    font-weight: 500;
    cursor: pointer;

}