/* ESTILO DE TODAS AS TELAS DE CRUD-SERVICO */
/* 13/04 (quinta-feira) - Por enquanto está com estilo só da tela de criacaoServico.html */

body, html{
    margin: 0;
    padding: 0;
    font-family: 'League Spartan';
}

@font-face {
    font-family: 'League Spartan';
    src: url('/font/LeagueSpartan.ttf');
}

/* .bg-gradPrincipal {
    background: linear-gradient(270deg, #3ED1FF -3.33%, #FF3E83 68.74%, #FFA856 103.43%);
} */


/* TELA INICIO EMPRESA */

.bg-gradPrincipal {
    background: linear-gradient(270deg, #3ED1FF -3.33%, #FF3E83 68.74%, #FFA856 103.43%);
}


/* TELA INICIO EMPRESA */

.html, body {
    padding: 0;
    margin: 0;
    font-family: 'League Spartan';
}

/* MENU EMPRESA */

.alinhaElementos {
    display: grid !important;
    align-items: center;
    grid-template-columns: 10vw 71vw 18.1vw;
}

.alinhaLogo {
    display: grid;
    align-items: center;
    height: 0;
    width: 0;
    margin-bottom: 4vw;
    grid-template-columns: 4vw 5vw 3vw;
}

.opcoesMenu {
    display: grid;
    text-align: center;
    grid-template-columns: 8% 10% 17% 13%;
    padding: 2%;
}

.opcoesMenu li{
    list-style: none;
}

.opcaoMenu:hover{
    color: white;
    text-shadow: 0px 2px 18px white, 0px 2px 18px white;
}

.botaoSeta {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.botaoSeta:hover {
    color: white;

}

.setaMenu:hover {
    filter:drop-shadow(0 2px 2px rgb(255, 255, 255));
}

.menuEmpresa {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.opcaoSele {
    font-family: 'League Spartan';
    color: white;
    text-decoration: none;
    font-style: none;
    font-size: 100%;
    text-shadow: 0px 1px 16px white;
}

.opcaoMenu {
    font-family: 'League Spartan';
    color: white;
    text-decoration: none;
    font-style: none;
    font-size: 1.5vw;
}

#logoImagem {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-image: url('../../img/icones/logoBranca.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 5vw;
}

#inserirPerfil img {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

#menu{
    z-index: 1;
    border-radius: 4%;
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.3));
    position: absolute;
    width: 11vw;
    top: 6vw;
    right: 15vw;
    height: 10vw;
    grid-template-rows: 3.8vw 3.8vw;
    display: none;
    /* padding-top: 2.5vw; */
    padding-left: 1vw;
    font-size: 1.5vw;
    text-align: left;
    font-family: 'League Spartan';
    background-color: rgb(255, 255, 255);
}

#menu a{
    text-decoration: none;
    height: 0;
    width: 10vw;
    /* color:#5356ad; */

}

#menu h5:hover{
    color: #FF3E83;
}

/* MENU PERFIL SUSPENSO */

#menuPerfil{
    z-index: 1;
    border-radius: 4%;
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.3));
    position: absolute;
    width: 11vw;
    top: 5.9vw;
    right: 2vw;
    height: 17vw;
    color:#5356ad;
    grid-template-rows: 2.5vw 2.5vw 2.5vw 3.5vw 2.5vw;
    display: none;
    /* padding-top: 1vw; */
    padding-left: 1vw;
    font-size: 1.5vw;
    text-align: left;
    font-family: 'League Spartan';
    background-color: rgb(255, 255, 255);
}

#menuPerfil a{
    text-decoration: none;
    height: 0;
    width: 10vw;
    /* color: #5356ad; */
}

#menuPerfil h5:hover{
    color: #FF3E83;
}

/* RADIO DECISIVO */

.grid-Principal {
    display: grid;
    grid-template-columns: 45em 45em;
}

.digitacao{
    grid-area: 1/1/1/1;
}

.centralizaSections {
    margin: 6vw 15vw;
}

.cabecalho {
    margin-bottom: 3vw;
    display: grid;
    grid-template-columns: 9vw 3vw 18vw;
    grid-template-rows: auto;
    max-width: 30vw;
}

.cabecalho a{
    width: 290%;
}

.meioH1 {
    margin-left: 9vw;
    margin-bottom: 2vw;
    font-size: 2em;
}

.cabecalho label {
    font-size: 1.6em;
    display: flex;
}

.cabecalho hr {
    opacity: 0;
}

.cabecalho input[type=radio] {
    width: 100%;
    height: 2.5vw;
    margin-top: -0.5vw;
}

/* CONFIG INPUTS */

.input-Digita {
    width: 24.2em;
    height: 3em;
    border-radius: 0.6em;
    padding: 0em 1.5em;
    font-size: 1.2em;
    margin-bottom: 2em;
    border: solid rgb(255, 74, 105)
}

.input-Selec {
    width: 27.5em;
    height: 3.5em;
    border-radius: 0.6em;
    padding: 0em 1.5em;
    font-size: 1.2em;
    margin-bottom: 2em;
    border: solid rgb(255, 74, 105)
}

/* INPUT FILE */

.titCapa{
    position: absolute;
    top: 2.7em;
    right: 16em;
}

.cardCarregarG{
    width: 30.5em;
    height: 20em;
    margin-bottom: 2vw;
    background-color: rgb(204, 204, 204);
    background-image: url('imgAdicionar/upload.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    border-radius: 10px;
    clip-path: inset(0% 0 0% 0);
    
}

.cardCarregarG img {
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }

#preview-capa{
    opacity: 0;
    border-radius: 10px;
}

#preview-2{
    opacity: 0;
    border-radius: 10px;
}

#preview-3{
    opacity: 0;
    border-radius: 10px;
}

.img2 {
    display: block;
    width: 14em;
    height: 10em;
    background-color: rgb(204, 204, 204);
    background-image: url('imgAdicionar/upload.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    border-radius: 10px;
    clip-path: inset(0% 0 0% 0);
}

.img3{
    display: block;
    width: 14em;
    height: 10em;
    background-color: rgb(204, 204, 204);
    background-image: url('imgAdicionar/upload.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    border-radius: 10px;
    clip-path: inset(0% 0 0% 0);
}

.img2 img {
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }

.img3 img {
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.grid-imagens {
    display: grid;
    grid-template-columns: 16.5em 10em;
    grid-column: 1/1;
}

.imagens{
    display: grid;
    grid-template-rows: 5em 21em 5em 20em;
    margin-top: -5em;
}

.imagens h1{
    margin-left: 17%;
    font-size: 2em;
}
.uploadImgPedido{
    width: 30.5em;
    height: 20em;
    margin-bottom: 2vw;
    background-color: rgb(204, 204, 204);
    background-image: url('../../img/icones/icon-upload.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    border-radius: 10px;
    clip-path: inset(0% 0 0% 0);
}
.uploadImg{
    display: block;
    width: 14em;
    height: 10em; 
    background-color: rgb(204, 204, 204);
    background-image: url('../../img/icones/icon-upload.svg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    border-radius: 5%;
    clip-path: inset(0% 0 0% 0);
}

.uploadImg2{
    display: block;
    width: 14em;
    height: 10em; 
    background-color: rgb(204, 204, 204);
    background-image: url('../../img/icones/icon-upload.svg');
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    border-radius: 5%;
    clip-path: inset(0% 0 0% 0);
}

.alinhaInputs {
    text-align: center;
}

/* RADIOS */ 

.radios {
    max-width: 75%;
    margin-bottom: 5em;
}

.personalizacao {
    display: flex;
    font-size: 1.6em;
    margin-left: 4vw;
}

.radios hr{
    height: 2em;
    opacity: 0;
}

.personalizacao input[type=radio] {
    width: 100%;
    height: 2.5vw;
    margin-top: -0.5vw;
}

.radios h1{
    font-size: 1.7em;
    margin-bottom: 1.8em;
    text-align: center;
}

.sim {
    display: grid;
    grid-template-columns: 3em 7em;
}

.nao {
    display: grid;
    grid-template-columns: 3em 3em;
}

/* BOTAO */

.criar {
    display: block;
    margin: 3em 25vw;
    width: 13em;
    height: 3em;
    border-radius: 2em;
    font-size: 1.7em;
    border: none;
    background-color: #FF3E83;
    color: white;  
    font-weight: bolder; 
}
/* .editar{
    display: block;
    margin: 0 0 10em 2em;
    width: 13em;
    height: 3em;
    border-radius: 2em;
    font-size: 1.7em;
    border: none;
    background-color: #FF3E83;
    color: white;  
    font-weight: bolder; 
} */

.criar button{
    cursor: pointer;
}

/* SERVICO */

.servico {
    display: grid;
}

/* PACOTE */
.pacote {
    display: none;
}
