.bg-gradPrincipal {
    background: linear-gradient(270deg, #3ED1FF -3.33%, #FF3E83 68.74%, #FFA856 103.43%);
}


/* TELA INICIO EMPRESA */

.html, body {
    padding: 0;
    margin: 0;
    font-family: 'League Spartan';
}

/* MENU EMPRESA */

.alinhaElementos {
    display: grid !important;
    align-items: center;
    grid-template-columns: 10vw 71vw 18.1vw;
}

.alinhaLogo {
    display: grid;
    align-items: center;
    height: 0;
    width: 0;
    margin-bottom: 4vw;
    grid-template-columns: 4vw 5vw 3vw;
}

.opcoesMenu {
    display: grid;
    text-align: center;
    grid-template-columns: 13% 10% 15% 13%;
    padding: 3%;
}

.opcoesMenu li{
    list-style: none;
}

.opcaoMenu:hover{
    color: white;
    text-shadow: 0px 2px 18px white, 0px 2px 18px white;
}

.botaoSeta {
    background: none;
    border: none;
    color: white;
}

.botaoSeta:hover {
    color: white;

}

.setaMenu:hover {
    filter:drop-shadow(0 2px 2px rgb(255, 255, 255));
}

.menuEmpresa {
    margin: 0;
    width: 100%;
    max-width: 100%;
}

.opcaoSele {
    font-family: 'League Spartan';
    color: white;
    text-decoration: none;
    font-style: none;
    font-size: 100%;
    text-shadow: 0px 1px 16px white;
}

.opcaoMenu {
    font-family: 'League Spartan';
    color: white;
    text-decoration: none;
    font-style: none;
    font-size: 1.5vw;
}

#logoImagem {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-image: url('../../img/icones/logoBranca.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: 5vw;
}

#inserirPerfil img {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

#menu{
    z-index: 1;
    border-radius: 4%;
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.3));
    position: absolute;
    width: 11vw;
    top: 5.9vw;
    right: 10vw;
    height: 17vw;
    grid-template-rows: 2.5vw 3.5vw 2.5vw 2.5vw 2.5vw;
    display: none;
    padding-top: 0.5vw;
    padding-left: 1vw;
    font-size: 1.5vw;
    text-align: left;
    font-family: 'League Spartan';
    background-color: rgb(255, 255, 255);
}

#menu a{
    text-decoration: none;
    height: 0;
    width: 10vw;
    /* color:#5356ad; */

}

#menu h5:hover{
    color: #FF3E83;
}

/* MENU PERFIL SUSPENSO */

#menuPerfil{
    z-index: 1;
    border-radius: 4%;
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.3));
    position: absolute;
    width: 11vw;
    top: 5.9vw;
    right: 0.5vw;
    height: 14.3vw;
    color:#5356ad;
    grid-template-rows: 2.5vw 2.5vw 3.5vw 2.5vw;
    display: none;
    padding-top: 0.3vw;
    padding-left: 1vw;
    font-size: 1.5vw;
    text-align: left;
    font-family: 'League Spartan';
    background-color: rgb(255, 255, 255);
}

#menuPerfil a{
    text-decoration: none;
    height: 0;
    width: 10vw;
    /* color: #5356ad; */
}

#menuPerfil h4:hover{
    color: #FF3E83;
}