body{
    background: linear-gradient(180deg, #F2DDEF 0%, #FFD9DE 100%);
}

.acessoRapido{
    position: fixed;
    text-align: center;
    margin-top: 3%;
}

#roxo{
    background-color: #C94FB8;
    width: 150px;
    height: 55px;
    color: white;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

#rosa{
    background-color: #FF5F76;
    width: 150px;
    height: 55px;
    color: white;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

#azul{
    background-color: #8084E8;
    width: 150px;
    height: 55px;
    color: white;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.novosPedidos{
    background-color: #F0A9E6;
}

.blocoPedidos{
    background-color: white;
    border-radius: 9px;
    margin: 5%;
    padding: 2%;
}

#txtNovosPedidos{
    font-size: 2.2em;
    color: #C94FB8;
    text-align: center;
    padding-top: 2%;
}

.gridNovosPedidos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(auto, 1fr); */
    /* justify-content: center; */
    justify-items: center;
    /* background-color: aqua; */
    margin: 1%;

}

.gridNovosPedidos h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    padding: 5%;
    width: 80%;
    text-align: center;
}

.cardNvPedidos{
    grid-area: 2/1/2/ 7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    background: rgba(129, 139, 235, 0.3);;
    border: 2px solid #000000;
    border-radius: 8px;
    justify-items: center;
}

.cardNvPedidos h3{
    text-align: center;
}

/* .cardNvPedidos{
    grid-area: 2/1/2/7;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    
    text-align: center;
    background: rgba(129, 139, 235, 0.3);;
    border: 2px solid #000000;
    border-radius: 8px;
    margin: 1%;
}

.cardNvPedidos h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    width: 80%;
    background-color: blueviolet;
    
} */

.pedidosAndamento{
    background-color: #FF9FAD;
}

#txtPedidosAndamento{
    font-size: 2.2em;
    color: #FF5F76;
    text-align: center;
    padding-top: 2%;
}

.gridPedidosAndamento{
    display: grid;
    justify-items: center;
    grid-template-columns: 0.4fr 1fr;
}

#statusPedido{
    background-color: #7696F2;
    color: white;
    border-radius: 9px;
    width: 95%;
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.gridPedidoInfo{
    display: grid;
    grid-template-columns: 0.1fr 0.6fr 0.6fr;
    /* grid-template-rows:  0.2fr 0.6fr 0.6fr ; */
    /* background-color: #C94FB8; */
}

.gridPedidoInfo img{
  width: 160px;
  clip-path: circle();
}

.infoPedido{
    /* grid-area: 1 / 2 / 1 / 2; */
    display: grid;
    grid-template-rows: 35px 20px 33px;
    justify-items: flex-start;
    line-height: 0.01;
}

.infoPedido h2{
    color: #000000;
    font-size: 1.6em;
}

.infoPedido h4{
    color: #000000;
    font-size: 1em; 
}

.infoPedido h3{
    color: #000000;
}

.testePreco{
    background-color: aqua;
}

.testePreco h1{
    color: #000000;
    font-size: 3em;
    font-weight: bold;
}

.gridIcons{
    /* background-color:#FF5F76; */
    grid-area: 2/1/2/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridIcons h1{
    color: #000000;
    font-size: 2.5em;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    margin-left: 15%;
}

#cardPedido{
    background-image: url("https://th.bing.com/th/id/OIP.Rv9lVuyM2wfoqw41ERDjdAHaHb?pid=ImgDet&rs=1");
    width: 80%;
    border-radius: 9px;
    border: 5px solid #7696F2;
    box-shadow: inset 0px 284px 187px #7696F2;
}

#cardPedido h2{
    text-align: center;
    font-size: 2em;
    color: white;
}

#cardPedido li{
    font-size: 1.8em;
    color: white;
}

.gridStatusPedido{
    display: grid;
    grid-template-rows:  0.4fr 0.4fr 0.4fr 0.4fr;
}

.direcaoPedidos{
    display: flex;
    flex-direction: column;
}

.dataPedido{
    display: grid;
    grid-template-columns: 0.3fr 0.2fr;
    color: #318839;
    font-size: 1.2em;
    align-items: first baseline;
    justify-content: center;
}

.iconsFuncPedidos{
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr;
    column-gap: 50px;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
    color: #7696F2;
}

.outros{
    background-color: #A6A9E5;
}

#txtPedidosOutros{
    font-size: 2.2em;
    color: #8084E8;
    text-align: center;
    padding-top: 2%;
}

.gridOutros{
    display: grid;
    grid-template-columns: repeat(5, 0.3fr);
    /* justify-items: center; */
    margin: 1%;

}

.gridOutros h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    padding: 5%;
    width: 80%;
    text-align: center;
}

.gridOutros svg{
    align-items: center;
}

.cardOutrosPedidos{
    grid-area: 2/1/2/ 7;
    display: grid;
    grid-template-columns: repeat(5, 0.3fr);
    /* grid-template-rows: repeat(auto, 1fr); */
    /* border: 2px solid #000000; */
    /* border-radius: 8px; */
    justify-items: center;
}

.cardOutrosPedidos h3{
    text-align: center;
}

#txtArquivado{
    background-color: #BFB5FF;
    border-radius: 15px;
}


