@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

*{
    
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}




/* TELA INICIO EMPRESA */

.html, body {
    padding: 0;
    margin: 0;
    font-family: 'League Spartan';
}



.inicioPerfil{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto repeat(auto, 1fr) auto;
}

.iconPaginaEmpresa img{
    padding: 25%;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.infoPerfil{
    margin-top: 5%;
    grid-area: 2/1/2/13;
    /* background-color: blueviolet; */
}

.bioPerfil{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    /* background-color: cadetblue; */
}

.fotoPerfil{
    /* margin-top: 40%; */
    grid-area: 1/3/2/3;
    /* background-color: crimson; */
}

.fotoPerfil img{
    width: 80%; /*mudar unidade de medida*/
    clip-path: circle();
    /* outline: 5px solid black; */
}

.infoEmpresa{
    /* margin-top: 40%; */
    grid-area: 1/4/2/4;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 25px;
}

.info{
    grid-area: 1/1/3/6;
    display: grid;
    margin: 5%;
    grid-auto-rows: 2.5vw;
    text-align: left;
    /* background-color: bisque; */
}

.info h3, h4{
    line-height: 20px;
    text-align: center;
}

.info h3{
    font-size: 2.5em;
    text-align: left;
}

.info h4{
    font-size: 1.3em;
    color: #BA73B0;
    font-weight: 300;
    text-align: left;
}

.loc{
    grid-area: 3/1/3/5;
    display: flex;
    align-items: center;
    justify-content: left;
    /* align-self: center; */

    /* background-color: darkgoldenrod; */
}

.loc img, .avaliacaoPerfil img{
    margin-right: 5px;
    margin-left: 10px;
    width: 20px;
}

.avaliacaoPerfil{
    grid-area: 3/4/3/6;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: chartreuse; */
}

button.editarPerfil{
    grid-area: 4/1/4/6;
    width: 100%;
    height: 50%;
    border: 1.5px solid #BA73B0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    margin: 5%;
}

button.editarPerfil img{
    width: 10%;
    margin-right: 5px;
}

.inicioPostagens{
    grid-area: 3/1/3/13;
    margin: 3% 5% 0 5%;
    /* background-color: darkolivegreen; */
    position: relative;
}

.inicioPostagens h2{
    font-size: 2.5em;
}

*{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}
  .carrossel{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 3.2rem;
    overflow-y: hidden; /*antes tava auto*/
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    margin: 2% 2% 0 2%;
    padding-top: 30px;
  }
  
  .carrossel::-webkit-scrollbar {
    display: none;
  }
  
  /* .card{
    scroll-snap-align: start;
    border-radius: 10px;
    height: 230px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 30% 2% 40% 2%;
    border: 2px solid #FF3E83;

}
  
  .carrossel img{
    border-radius: 10px;
    height: 230px;
    width: 400px;
  } */

  /* .card {
    width: 400px;
    height: 300px;
    scroll-snap-align: start; */
    /* background-color: white;
    border-radius: 16px;
    border-left: 2px solid #E94F91;
    border-top: 2px solid #e97b4f;
    border-right: 2px solid #A385BF;
    border-bottom: 2px solid #0062ff76; 
    */
  

  /* .textoCard h1{
    position: absolute;
    display: none;
  } */

  /* .conteudoCard{
    width: 400px;
    scroll-snap-align: start;
    opacity: 1;
    transition: 0.5s ease 0s;
    position: relative;

  } */

 /* .textoCard:hover{
    display: block;
  } */
 
.conteudoCard {
    position: relative;
    /* width: 400px;
    height: 300px; */
    scroll-snap-align: start;
}

  .conteudoCard img {
    /* width: 100%;
    height: 100%; */
    width: 300px;
    height: 200px;
    aspect-ratio: 3/2;
    border-radius: 16px;
    transition: filter 0.5s ease;
}

.conteudoCard:hover img{
    filter: blur(2px);
    border-radius: 16px;
    /* transition: 0.5s ease 0s; */
}

.textoCard {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* cor do texto */
    padding: 10px; /* espaçamento interno do texto */
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
   
  }
  
  .conteudoCard:hover .textoCard {
    display: block;
    opacity: 2;
  }

  .textoCard h1{
    transition: opacity 0.5s ease;
    text-shadow: 3px 2px 15px #000000;
  }
  /* .conteudoCard h3:hover {
    margin-bottom: 0.3rem;
  } */

  /* .conteudoCard h1:hover {
    position: absolute;
  } */

  .seta-direita {
    position: absolute;
    top: 60%;
    right: -25px;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    border: 1px black solid;

    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seta-esquerda {
    position: absolute;
    top: 60%;
    left: -25px;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    border: 1px black solid;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.iconEditarEmpresa{
    grid-area: 4/11/4/11;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #25a5f5;
    z-index: 1;
    margin-top: -60%;
    margin-left: 55%;
}

.iconEditarEmpresa img{
    padding: 25%;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.inicioPacotes{
    grid-area: 6/1/6/13;
    /* background-color: #E94F91; */
    margin: 8% 5% 0 5%;
}

.inicioPacotes h2{
    font-size: 2.5em;
}

.gridPacotes{
    /*
    grid-template-columns: repeat(3, 1fr);
     */
    /* column-gap: 0 !important;
    row-gap: 80px;
    justify-items: center;
    margin-top: 3%; */
    
    column-count: 3;
    column-gap: 16px;
    row-gap: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    justify-self: center;
    justify-items: center;
    margin-top: 5%;

}

.cardPacotes{
    width: 72%; /*ver a melhor unid de medida*/
    height: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 7px 0.5px rgb(116, 116, 116);
    margin: 2% 0 1% 0;
    padding: 0 0 3% 0;
}

.conteudoPacote h4{
    color: rgb(75, 75, 75);
    font-size: 1.5em;
    font-weight: 500;
    /* margin: 5% 0 5% 0; */
    margin: 5%;
    text-align: left;
}

.conteudoPacote h3{
    color: black;
    font-size: 2.5em;
    margin: 5%;
    text-align: left;
}

.conteudoPacote h2{
    color: #BA73B0;
    font-size: 2em;
    /* margin: 0 0 0 5%; */
    margin: 5%;
    text-align: left;
}

.conteudoPacote ul {
    margin: 5% 0 0 8%;
}

.conteudoPacote li{
    font-size: 1.3em;
    line-height: 35px;
}

.conteudoPacote img {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}

.botoesPacote {
    display: flex;
    margin: 0 4% 0 4%;
    justify-content: space-around;
}


button.editarPacote{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: #FF3E83;
    margin: 8% 5% 0 0;
    padding: 5%;
    cursor: pointer;
}

button.editarPacote img{
    width: 50px;
}

/* button.verPacote{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: #FFA856;
    margin: 8% 5% 0 0;
    padding: 5%;
    cursor: pointer;
}

button.verPacote img{
    width: 50px;
    color: white;
} */

button.deletarPacote{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    background-color: #FFA856;
    margin: 8% 0 0 0;
    cursor: pointer;

}

button.deletarPacote img{
    width: 50px;
}

.inicioServicos{
    grid-area: 5/1/5/13;
    /* background-color: #ffa9ce; */
    margin: 8% 5% 0 5%;
    
}

.inicioServicos h2{
    font-size: 2.5em;
}

.gridServicos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin: 2% 0 1% 0;
    row-gap: 15px;
}

.conteudoServico{
    display: grid;
    grid-template-columns: auto repeat(2, 1fr); /* adicionado */
    width: 50em;
    height: 10em;
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0.5px rgb(116, 116, 116);
    margin: 2% 0 0 3%;
}

.conteudoServico img{
    width: 200px;
    height: 10em;
    padding: 4.5%;
}

.conteudoServico h3{
    margin: 5% 0 0 5%; 
    font-size: 1.5em;
}

.textoServico{
    grid-column: 2/4;
}

.textoServico h5{
    font-size: 1.2em;
    margin: 5% 0 0 5%;
    font-weight: 200;
}

@media (min-width: 1400px){

    /* .infoEmpresa{
        grid-area: 1/4/1/6;
    } */


    .conteudoServico{
        width: 95%;
    }
}


