.inicioCarrinho{
    display: grid;
    grid-template-rows: auto auto;
    /* background-color: blue; */
    margin: 3% 0 0 12%;
    row-gap: 20%;
}

.tituloCarrinho h3{
    font-size: 2em;
    color: black;

}

.textoSelecione h3{
    font-size: 1.5em;
    color: black;
    font-weight: 500;
    /* background-color: cadetblue; */
}

.pedidoEmpresa{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 3% 0 0 12%;

}

.pedidoEmpresa img{
    width: 100px;
    aspect-ratio: 3/2;
    clip-path: circle();
    object-fit: contain;
}

.selecioneItem{
    display: flex;
    
}
