.inicioCarrinho{
    display: grid;
    grid-template-rows: auto auto;
    /* background-color: blue; */
    margin: 3% 0 0 8%;
    row-gap: 20%;
}

.tituloCarrinho h3{
    font-size: 2em;
    color: black;

}

.textoSelecione h3{
    font-size: 1.5em;
    color: black;
    font-weight: 500;
    /* background-color: cadetblue; */
}

.pedidoEmpresa{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 3% 0 0 8%;

}

.pedidoEmpresa img{
    width: 100px;
    aspect-ratio: 3/2;
    clip-path: circle();
    object-fit: contain;
}

.selecionaItem{
    display: grid;
    grid-template-columns: min-content min-content auto;
    /* grid-template-rows: auto; */
    gap: 6%;
    margin: 3% 0 0 8%;
    align-items: center;
    
    
}

.gridPrinc {
    display: flex;
    flex-direction: column;
    row-gap: 11em;
}

.selecionaItem input{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
}

.imgPedido img{
    width: 300px;
    border-radius: 30px;
}

/* .continuar { codigo do input continuar antigo, mas estava dando erro na margin
    padding: 0.5em 1.5em;
    border: none;
    font-size: 2em;
    margin: 2em 50%;
    border-radius: 0.5em;
} */

input.continuar { /*centralizar input continuar*/
    display: block;
    margin: 0 auto;
    padding: 0.5em 1.5em;
    border: none;
    font-size: 2em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: 3%;
  }

/* .imgPedido img{ codigo caso queira voltar com a borda gradiente
    width: 300px;
    border: 5px solid transparent;
    background-clip: padding-box;
    border-image-slice: 1;
    border-image-source: radial-gradient(67.47% 91.91% at 73.26% 36.72%, #3ED1FF 0%, #FF3E83 67.5%, #FFA856 100%);
} */

.infoPedido{
    display: grid;
    grid-template-rows: repeat(2, auto);
    /* background-color: #FF3E83; */
    margin-top: -3%;
}

.infoPedido h1{
    color: black;
    font-size: 2em;
    font-weight: 500;
   
    /* width: 70%; */
}

.infoPedido h3{
    /* background-image: url('/bancoImagens/clientes/fundogradiente.png');
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: transparent;
    background: radial-gradient(37.47% 91.91% at 33.26% 36.72%, #3ED1FF 0%, #FF3E83 67.5%, #FFA856 100%);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2em;
    font-weight: 800;
    margin-top: 5%;
}

.botaoPosicao{
    display: flex;
    justify-content: center;
}

button.botaoSelecionar{
    font-size: 1em;
    width: 50%;
    height: 40px;
    background-color: #C1ABB3;
    color: white;
    width: 200px;
    border: none;
    border-radius: 10px;
    margin-top: 2%;
    cursor: pointer;
}