.inicioCarrinho{
    display: grid;
    grid-template-rows: auto auto;
    background-color: blue;
    margin: 3% 0 0 12%;
    row-gap: 20%;
}

.tituloCarrinho{
    background-color: aquamarine;
}

.tituloCarrinho h3{
    font-size: 2em;
    color: black;

}

.textoSelecione h3{
    font-size: 1.5em;
    color: black;
    font-weight: 500;
    background-color: cadetblue;
}

.pedidoEmpresa{
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 3% 0 0 12%;
    background-color: cadetblue;
    grid-column-gap: 0;
}

.fotoEmpresa{
    background-color: blue;

}

.fotoEmpresa img{
    width: 100%;
    max-width: 10%;
    clip-path: circle();
}

.nomeEmpresa{
    background-color:blueviolet;

}