@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

.gridHistorico{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    
}

.titulo{
    grid-area: 1/2/1/3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 3% 0 0 10%;
    
}

.titulo h2{
    font-weight: 500;
    font-size: 2em;
    margin-right: 2%;
}

.infoPedido{
    grid-area: 2/2/2/10;
    background-color: #d9d9d9d7;
    border-radius: 30px;
}

.alinhaPedido{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    /* margin-bottom: 1%; */
}

li{
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 500;
    width: 8%;
    text-align: center;
    line-height: 1.2;
}

.btn-Pagar {
    padding: 10% 15%;
    font-size: 1.2em;
    border-radius: 0.5em;
    color: white;
    background-color: red;
    border: none;
}

.btn-Post {
    padding: 10% 15%;
    font-size: 1.2em;
    border-radius: 0.5em;
    color: white;
    background-color: rgb(39, 89, 183);
    border: none;
}

.alinhaInfoPedido{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1%;
}

#pacotePersonalizado{
    color: red;
}

.status{
    color: green;
}

.imgHistoricoPedido{
    grid-area: 3/2/6/2;
   
}

.imgHistoricoPedido img{
    width: 20em;
    height: 15em;
    border-radius: 30px;
}

.textoHistorico{
    grid-area: 4/3/4/6;
    margin-left: 8%;
}

.textoHistorico h3{
    font-size: 1.5em;
    font-weight: 500;
}

.estiloEmpresa h2{
    font-weight: 600;
    font-size: 1.5em;
}

.textoValor{
    grid-area: 4/9/4/10;
    text-align: center;
}

.textoValor h2{
    font-weight: 600;
    font-size: 1.8em;
}

.textoValor h3{
    font-weight: 600;
    font-size: 1.8em;
    color: #A087C1;
}

hr{
    grid-area: 6/2/6/10;
    border-color: #ff8e61b7;
    border-style: solid;
}

/* PARA FILTRO */

.menuSuspenso {
    display: none;
    position: absolute;
    width: 10%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: #333;
    padding: 25px 25px 13px 25px;
    margin: 12em 0 0 10em;
    border-radius: 1.5em;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
  }
  
  .menuSuspenso ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menuSuspenso li {
    margin-bottom: 5px;
  }
  
  .menuSuspenso a {
    text-decoration: none;
    margin-bottom: 0.5em;
    width: 150px;
    text-align: left;
    color: #333;
    display: block;
  }
  
  .menuSuspenso a:hover {
    text-decoration: underline;
  }
  
/* MENU SUSPENSO 2 */

.menuSuspenso2 {
    display: none;
    position: absolute;
    width: 10%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: #333;
    padding: 25px 25px 13px 25px;
    margin: 20.5em 0 0 23em;
    border-radius: 1.5em;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.3));
  }
  
  .menuSuspenso2 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #iconeStatus {
    margin-left: 1em;
  }
  
  .menuSuspenso2 li {
    margin-bottom: 5px;
  }
  
  .menuSuspenso2 a {
    text-decoration: none;
    margin-bottom: 0.5em;
    width: 150px;
    text-align: left;
    color: #333;
    display: block;
  }
  
  .menuSuspenso2 a:hover {
    text-decoration: underline;
  }